<header>
  <img src="assets/img/ArthurKellermannPhoto.png" alt="Arthur Kellermann - Photo" width="130px" height="130px"
    loading="eager">
  <h1>Arthur Kellermann</h1>
</header>
<aside>
  <div class="cotainer">
    <p>Software Engineer Intern at Dell Technologies</p>
    <p>São Leopoldo, Rio Grande do Sul, Brazil</p>
    <p> Motivated Software Engineer seeking to pursue a successful career, where I can contribute to the company’s
      software
      deliveries and project solutions. My enthusiasm for development and technology, coupled with my experience in
      programming and problem-solving, motivates me to continually expand my knowledge</p>


    <nav>
      <ul>
        <li>
          <a href="asstes/pdf/ArthurKellermannCV.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/arthur-kellermann/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg" alt="Whatsapp Icon" width="22px" height="24px">

        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5551999999999" target="_blank">
            <strong>Send a message</strong>
            <p>WhatsApp: (51) 9 9999-9999</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img src="assets/icons/mail.svg" alt="Whatsapp Icon" width="22px" height="24px">

        <figcaption>
          <a href="mailto:arthur.kellermann956@gmail.com" target="_blank">
            <strong>Send a email</strong>
            <p>Email: arthur.kellermann95&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
